

@import '../../../_common/styles/common.scss';



.frame1 {
	// opacity: 1;
}

.wave{
	@include pos(0, 0);
	clip: rect(0px, 728px, 90px, 0px);
}

.bg2{	
	clip: rect(0px, 728px, 90px, 0px);
}

.t1, .t2, .t3, .t4, .play, .logo, .logo2{
	@include pos-scale(0, -7, .5);
}



#banner{
	font-size: 20px;
	color: #333;
	width: 728px;
	height: 90px;
}

