<div id="banner">
	<div class="outline"></div>
	
	
	<div class="frame frame1">
		
		<img src="./images/bg_1.jpg" class="bg bg_1" inline>
		<img src="./images/t1.png" class="retina t1" inline>
		<img src="./images/product_1.png" class="retina product_1" inline>


		 <img src="./images/bg_2.jpg" class="bg bg_2" inline>
		<img src="./images/t2.png" class="retina t2" inline>
		<img src="./images/product_2.png" class="retina product_2" inline>


		<img src="./images/bg_3.jpg" class="bg bg_3" inline>
		
		<img src="./images/product_3.png" class="retina product_3" inline>


		<img src="./images/bg_4.jpg" class="bg bg_4" inline>		
		
		<img src="./images/product_4.png" class="retina product_4" inline>


		<img src="./images/logo.png" class="retina logo" inline>
		<img src="./images/logo2.png" class="retina logo2" inline>
		<img src="./images/cta.png" class="retina cta" inline>


		<img src="./images/t3.png" class="retina t3" inline>
		

		
	</div>
	
</div>